/*  */

.inputStyle textarea {
        /* font-size: 15px; */
    font-family: Source Serif Pro;
    color: #000000;
    opacity: 0.5;
    text-align: left !important;
font: normal normal 300 13px/17px Source Serif Pro !important;
letter-spacing: 0px !important;
color: #000000 !important;
opacity: 0.5 !important;
    /* font-weight: 600; */
    /* text-align: center; */
    outline:none;
}

.redI2 input[type="text"]::placeholder {
    color:red !important;
    text-align: left !important;
font: normal normal 300 15px/21px Source Serif Pro !important;
letter-spacing: 0px !important;
}

.mainStack{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.flow{
    max-height: 208px;
    overflow: scroll;
}

.flowT {
    text-align: left;
font: normal normal normal 13px/17px Source Serif Pro;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.abs{
        position: absolute;
    width: 350px !important;
    top: 2.1rem;
    left: 0px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #00000029;
    padding: 10px !important;
    border-radius: 5px;
    z-index: 1;
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    /* border: 1px solid #E9EDF2; */
    /* opacity: 1; */
}

.stext {
    text-align: left;
font: normal normal normal 18px/25px Source Serif Pro;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.martr{
    margin: 6px 0px 6px 0px;
    padding:0px !important;
}

.extra {
    width: 158px !important;
    left: -7.5rem !important;
}

.extra1{
    width: 250px !important;
    padding: 0px !important;
    left: -16.5rem !important;
    top: 1rem !important;
}

.extra2{
    background: #E9EDF2 0% 0% no-repeat padding-box !important;
    border: 2px solid #FFFFFF !important;
    border-radius: 5px !important;
    opacity: 1;
    left: -13rem !important;
    width: 200px !important;
    top: 0px !important;
}

.extra3 {
    width: 200px !important;
    left: 0rem !important;
    top: 2rem !important;
}

.extra4{
    border-radius: 5px !important;
    opacity: 1;
    top: -11rem !important;
    left: -20.5rem !important;
    width: 300px !important;
    padding: 0px !important;
    
}

.dtext {
    text-align: center !important;
    font: normal normal 600 18px/25px Source Serif Pro !important;
    letter-spacing: 0px !important;
    color: #FF0000 !important;
    opacity: 1 !important;
}

.ddtext{
    text-align: left !important;
font: normal normal 300 15px/21px Source Serif Pro !important;
letter-spacing: 0px !important;
color: #000000 !important;
opacity: 1 !important;
}

.redI {
    border: 1px solid #FF0000 !important;
    border-radius: 5px;
    opacity: 1;
    color: red !important;
    padding: 5px;   

}

.redII {
    background: #fd7a7a 0% 0% no-repeat padding-box !important;
    border-radius: 5px;
    border: 2px solid red;
    /* opacity: 0.25; */
}

.mt {
    margin:5px;
}

.btnStyles {
    font-size: 15px;
    font-family: Source Serif Pro;
    font-weight: 600;
    padding: 5px;
    color: #640000;
    opacity: 75%;
}

.hinput{
    border: 2px solid #E9EDF2 !important;
    border-radius: 5px !important;
    opacity: 1 !important;
}

.ddt {
    text-align: left;
font: normal normal 600 15px/21px Source Serif Pro;
letter-spacing: 0px;
color: #000000;
opacity: 0.5 !important;
}

.boxf {
    width: 90%;
    padding: 6px !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #E9EDF2;
    border-radius: 5px;
    opacity: 1;
    margin-bottom: 5px;
    margin-top: 5px;}

.iconF {
    display: flex;
    align-items: center;
}

.t61521 {
    text-align: left;
    font: normal normal 600 15px/21px Source Serif Pro !important;
    letter-spacing: 0px  !important;
    color: #000000  !important;
    /* opacity: 0.5  !important; */
}

.fileFlex{
    width: 48%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    opacity: 1;
    margin: 4px;
    height:fit-content;
}

.ali {
    width: 50%;
    background: #E9EDF2 0% 0% no-repeat padding-box;
    opacity: 1 !important;
}

.textt {
    width: 50%;
    font: normal normal bold 15px/21px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
}

.ta {
        width: 100%;
    resize: none;
    border: none !important;
    height:115px;
}

.textS {
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    opacity: 1;
    width: 100%;
    background: #ffffff;
    cursor: pointer;
    padding: 8px !important;
    padding-bottom: 8px !important;
    margin-top: 18px;
    margin-left: 0px !important;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: left !important;
    align-items: center;
    padding: 4px !important;
    margin-top: 10px !important;
    /* width: 283px; */
}

.padding0{
    padding:0px !important;
}

.ts1317 {
    text-align: left;
font: normal normal 300 13px/17px Source Serif Pro;
letter-spacing: 0px;
color: #000000;
opacity: 0.5;
}

.tls1521 {
    text-align: left;
font: normal normal 300 15px/21px Source Serif Pro;
letter-spacing: 0px;
color: #000000;
opacity: 0.5;
}



.mainf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0px !important;
    margin-top:10px;
}

.mainff {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0px !important;
    margin-right:5px;
}

.mrt{
    margin-top:10px;
}

.mrb{
    margin-bottom:10px;
}

.inputs{
    width: 50px;
    outline: none;
    /* padding: 0px !important; */
    border: none;
    margin-top: 0px !important;
}

.mrr{
    margin-right:5px;
}