.boxStyle {
    font-family: Source Serif Pro !important;
    position: relative; /* imp */
    width: 325px;
    height: 600px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    overflow: visible !important;
    display:block;
    opacity: 1;
}

.boxIn {
    width: 300px;
    box-shadow: none;
    margin: auto;
    overflow:visible !important;
}

.titleStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-weight: bold;
    padding: 0px;
    align-items: center;
}

.t61825 {
text-align: left;
    font: normal normal 600 18px/25px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.padding0 {
    padding: 0px !important;
}

.iconU {
    padding: 7px !important;
    border-radius: 50%;
    font-weight: 700 !important;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    margin-right: 10px;
    font: normal normal 300 15px/21px Source Serif Pro;
}

.tt {
text-align: left;
    font: normal normal 300 13px/17px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
}


.msgSec {
    /* background-color: #5EE2A0; */
    /* box-shadow: 0px 3px 6px #00000029; */
    /* border-radius: 5px; */
    /* opacity: 0.75; */
    padding:0px !important;
    height: 30rem;
}

.textG {
    /* background: #E9EDF2 0% 0% no-repeat padding-box; */
    border-radius: 5px;
    /* opacity: 0.75; */
    padding-left: 5px;
    height: 50px;
    justify-content: center;
background: #e9edf27a 0% 0% no-repeat padding-box;
/* opacity: 0.75; */
}

.textM {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E9EDF2;
    height: 50px;
    padding-left: 5px;
    justify-content: center;
    /* opacity: 0.75; */
}

.times {
    text-align: left;
font: normal normal 300 11px/15px Source Serif Pro;
letter-spacing: 0px;
color: #000000;
opacity: 1;
align-items: end;
margin-top:5px;
}

.sendPart {
    background: #E9EDF2 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 0.75;
    height: 33px;
    display: flex;
    padding: 0px !important;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.sendPart textarea {
    border: none;
    background: none;
    resize: none;
    min-height: 5px;
    outline: none;
    height: 23px;
    display: flex;
    font: normal normal 300 15px/21px Source Serif Pro  !important;
    width: 60%;
    margin-left: 10px;
    /* padding: 5px; */
    /* align-items: center; */
    /* justify-content: center; */
    align-self: center;
}

.sendPart textarea::placeholder {
    font: normal normal 300 15px/21px Source Serif Pro  !important;
}


/* delete */


.abs5 {
    border-radius: 5px ;
    opacity: 1;
    top: -11rem ;
    left: -20.5rem ;
    width: 300px !important;
    padding: 0px !important;

    position: absolute;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #00000029;
    border-radius: 5px;
    z-index: 1;
}

.abs {
    width: 185px;
    position: absolute;
    height: 275px;
    left: 2.6rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    opacity: 1;
    top: 3rem;
}

.dt {
    text-align: center !important;
    font: normal normal 600 18px/25px Source Serif Pro !important;
    letter-spacing: 0px !important;
    color: #FF0000 !important;
    opacity: 75% !important;
    margin: 20px 5px 5px 5px;
    width: 100%;
}

.infod {
    text-align: left !important;
    font: normal normal 300 15px/21px Source Serif Pro !important;
    letter-spacing: 0px !important;
    color: #000000 !important;
    opacity: 75% !important;
    /* min-height: 7rem; */
    margin-bottom: 41px !important;
    margin: 5px;
    width: 100%;
}

.redI2 input {
    border: 1px solid #FF0000 !important;
    border-radius: 5px;
    opacity: 1;
    color: red !important;
    padding: 5px; 
    outline: none;
    background: none !important;
    width: 100%;
    font-size: 15px;
    font-family: Source Serif Pro;
    opacity: 0.5;
    font-weight: 600;  

}

.redI2 {
    width: 100%;
    position: relative;
    text-align: center;
}

.redI2 input[type="text"]::placeholder {
    color:red !important;
    text-align: left !important;
font: normal normal 300 15px/21px Source Serif Pro !important;
letter-spacing: 0px !important;
}

.redII2 {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    padding: 0px !important;
    display: flex;
    align-items: center;
    /* align-content: end; */
}

.spanHide {
    display: none;
}

.absT {
    margin-left: 5px;
    /* margin-top: 11px; */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.absText {
    text-align: left;
    font: normal normal 600 15px/21px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
}

.redII {
    font-size: 15px;
    font-family: Source Serif Pro;
    font-weight: 600;
    padding: 5px;
    color: #640000;
    opacity: 75%;
    background: #fd7a7a 0% 0% no-repeat padding-box !important;
    border-radius: 5px;
    border: 2px solid red;
    /* opacity: 0.25; */
}

.ho100 {
    width: 85%;
    position: relative;
    text-align: center;
    margin: auto;
}