.boxStyle {
    font-family: Source Serif Pro !important;
    top: 33px;
    left: 24px;
    position: relative; /* imp */
    width: 200px;
    display:flex;
    height: 300px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    overflow: visible !important;
    opacity: 1;
    /* margin-right: 20px; */
    /* margin-bottom: 20px; */
}

.boxIn {
    width: 139px;
    box-shadow: none;
    margin:0 auto;
    overflow:visible !important;
}

.imgStyle {
    width:25px;
    height:25px;
    cursor:pointer;
}

.mainT {
    text-align: left;
    font: normal normal 600 18px/25px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    position: relative;
    opacity: 1;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}   

.subT {
    text-align: left;
    font: normal normal 300 15px/21px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-left: 10px;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    margin-top: 7px;
    margin-bottom: 7px;
}

.statusIconBg {
    width: 17.5px;
    height:17.5px;
    background: #5EE2A0;
    border-radius: 50%;
}

.abs {
    position: absolute;
    width: 130px;
    height: 145px;
    z-index: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    opacity: 1;
    top: 1.6rem;
    left: 0.5rem;
}

.spanHide {
    display:none;
}