.boxStyle {
    width: 350px;
    min-height: 525px;
    max-height: 650px;
    height: auto;
    font-family: Source Serif Pro !important;
    top: 33px;
    left: 24px;
    position: relative;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    overflow: visible !important;
    opacity: 1;
    margin-right: 20px;
    margin-bottom: 20px;
}

.boxIn {
    width: 325px;
    height: auto !important;
    font-family: Source Serif Pro Bold  !important;
    box-shadow: none !important;
    margin: auto;
    overflow: visible !important;
}

.mr {
    margin-bottom: 10px;
}

.headerStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px !important;
    padding-bottom: 10px !important;
    font-weight: bold;
    padding: 0px;
    align-items: center;
    position: relative;
}

.inputStyle {
    text-align: left;
    font: normal normal 600 15px/21px Source Serif Pro !important;
    letter-spacing: 0px  !important;
    color: #000000  !important;
    /* margin-right: 15px; */
    padding: 4px !important;
    margin-top: 0px !important;
    /* width: 283px; */
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    opacity: 1;
    width: 100%;
    background: #ffffff;
    margin-left: 0px !important;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: left !important;
    align-items: center;
}

.inputStyle input, .inputStyle textarea {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 15px;
    font-family: Source Serif Pro;
    color: #000000;
    opacity: 0.5;
    font-weight: 600;
}

.inputStyle input::placeholder , .inputStyle textarea::placeholder {
    font-size: 15px;
    font-family: Source Serif Pro;
    color: #000000;
}

.tooltip {
    background: darkgray !important;
    font-size: 13px !important;
    color: white !important;
    font-family: 'Source Serif Pro' !important;
    opacity: 75% !important;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    top: -27px !important;
    font-weight: 100 !important;
}

.mainStack {
    display: flex;
    flex-direction: row;
}

.mainStackp0 {
    padding: 0px;
    display: flex;
    flex-direction: row;
}


.mainStackmt {
    margin-top: 11px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconCard {
    padding: 0px !important;
    margin-right: 30px;
}

.iconW {
    width: 25px;
}

.pwmr {
    width: 100% !important;
    margin-right: 20px;
    padding: 0px !important;
    margin-right: 20px;
}

.headerCard {
    width: 100% !important;
    padding: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    position: relative;
}

.t61521op {
    text-align: left;
    font: normal normal 600 15px/21px Source Serif Pro !important;
    letter-spacing: 0px  !important;
    color: #000000  !important;
    opacity: 0.5  !important;
}

.t61521 {
    text-align: left;
    font: normal normal 600 15px/21px Source Serif Pro !important;
    letter-spacing: 0px  !important;
    color: #000000  !important;
    /* opacity: 0.5  !important; */
}

.dateTimeFlex {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0px !important;
    text-align: left;
    font: normal normal 600 15px/21px Source Serif Pro !important;
    letter-spacing: 0px  !important;
    color: #000000  !important;
    /* opacity: 0.5  !important; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    padding: 2px 6px;
    opacity: 1;
}


.t31521 {
    text-align: left;
    font: normal normal 300 15px/21px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.spanHide {
    display: none;
}

.abs {
    top: 2rem;
    position: absolute;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding: 10px !important;
    border-radius: 5px;
    z-index: 1;
}

.t61521mb5 {
    text-align: left;
    font: normal normal 600 15px/21px Source Serif Pro !important;
    letter-spacing: 0px  !important;
    color: #000000  !important;
    opacity: 0.5  !important;
    margin-bottom: 5px;
}

.pwmrel {
    width: 100% !important;
    padding: 0px !important;
    margin-right: 20px;
    position: relative;
}

.t61521mrop {
    text-align: left;
    margin-right: 15px;
    font: normal normal 600 15px/21px Source Serif Pro !important;
    letter-spacing: 0px  !important;
    color: #000000  !important;
    opacity: 75%  !important;
}

.padding0 {
    padding: 0px !important;
}

.atmb5 {
    margin-bottom: 5px;
    font: normal normal 300 11px/15px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.mainStackp0mt10 {
    margin-top: 11px;
    display: flex;
    flex-direction: row;
    padding: 0px !important;
}

.w25 {
    width: 15px;
    height: 16px !important;
    margin-right: 3px;
    /* margin-top: 10px; */
}

.cbtn {
    padding-bottom: 0px !important;
        justify-content: end;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    cursor: pointer;
    padding: 5px !important;
    margin-left: 0px !important;
}

.cbtnin {
    padding-bottom: 0px !important;
    padding: 0px !important;
    
}

.cbtnin button {
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    box-shadow: none;
    text-transform: capitalize;
    background: rgba(127, 218, 172, 0.4) no-repeat padding-box;
    color: #2a9660;
    height: 20px !important;
    font-size: 11px !important;
    font-weight: 300 !important;
    margin-top: 10px;
    justify-content: center;
    width: 20px !important;
    overflow: hidden;
    position: relative;
    margin-right: 0px !important;
    top: -3px;
    font: normal normal 300 11px/15px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.cbtnin button:hover {
    background: rgba(127, 218, 172, 0.4) no-repeat padding-box;
    color: #2a9660;
    box-shadow: none;
}

.tnn {
    font: normal normal normal 15px/21px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-right: 15px;
}

.tnn2 {
    padding: 5px !important;
    border-radius: 50%;
    /* font-weight: 700 !important; */
    border: 1px solid #dfdfdf;
    margin-right: 5px;
    font: normal normal normal 15px/21px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.tnnorg {
    font: normal normal 300 12px/16px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 5px;
    margin-left: 41px;
}

.overf {
    height: 7rem;
    overflow: scroll;
    margin-top: 0px;
    padding: 5px !important;
}

.overf::-webkit-scrollbar{
    display: none;
}

.headerCard svg {
    color: lightgray;

}

.pmt {
    margin-top: 11px;
    padding: 0px !important;
}

.org2 {
    font: normal normal 300 12px/16px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 5px;
    margin-right: 15px;
}

.mtm {
    padding: 0px !important;
    width:100%;
    margin-top: -10px !important;
}

.hadp{
    padding: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    position: relative;
}

.hadp textarea {
    width: 100%;
    resize: none;
    border: none !important;
}

.tmstyle {
    font: normal normal 600 15px/21px Source Serif Pro  !important;
    margin-right: 15px;
    opacity: 0.5;
}

.btn {
    padding-bottom: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px !important;
    margin-left: 0px !important;
}

.btnin {
    padding-bottom: 0px !important;
    padding: 0px !important;
    font: normal normal 600 15px/21px Source Serif Pro  !important;
}

.btnin button {
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    /* border: none; */
    box-shadow: none;
    text-transform: capitalize;
    background: rgba(127, 218, 172, 0.4) no-repeat padding-box;
    color: #2a9660;
    font-size: 15px !important;
    width: 80px !important;
    height: 28px !important;
    overflow: hidden;
    font-weight: 700 !important;
    position: relative;
    margin-right: 0px !important;
    top: -3px;
    font: normal normal 600 15px/21px Source Serif Pro  !important;
}

.btnin button:hover {
    box-shadow: none;
    background: rgba(127, 218, 172, 0.4) no-repeat padding-box;
    color: #2a9660;
}