.boxStyle {
    font-family: Source Serif Pro !important;
    top: 33px;
    left: 24px;
    position: relative;
    height: 125px;
    width: 350px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    overflow: visible !important;
    opacity: 1;
    margin-right: 20px;
    display:flex;
    margin-bottom: 20px;
}

.boxIn {
    font-family: Source Serif Pro Bold  !important;
    width: 325px;
    height: 40px;
    box-shadow: none !important;
    margin: 10px auto;
    overflow: visible !important;
}

.signCal {
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    /* width: 100% !important; */
    background: #ffffff;
    cursor: pointer;
    margin-left: 0px !important;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: left !important;
    align-items: center;
    margin-top: 5px;
    padding: 4px !important;
    font: normal normal 600 11px/15px Source Serif Pro !important;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1 !important;
    /* margin-right: 15px; */
}

.signCal input{
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 15px;
    font-family: Source Serif Pro;
    color: #000000;
    opacity: 0.5;
    font-weight: 600;
}

.textM {
    font: normal normal 600 13px/17px Source Serif Pro !important;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5 !important;
    margin-right: 15px;
}

.imgFlex {
    display: flex;
    align-items: center;
}

.w14 {
    width: 15px !important;
}


.createBtn {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px !important;
    margin-left: 0px !important;
    padding-bottom: 0px !important;
}

.createBtnIn {
    padding-bottom: 0px !important;
    padding: 0px !important;
}

.createBtnIn button {
    padding-bottom: 0px !important;
    padding: 0px !important;
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    /* border: none; */
    box-shadow: none;
    text-transform: capitalize;
    margin-right: 12px;
    background: rgba(127, 218, 172, 0.4) no-repeat padding-box;
    color: #2a9660;
    font-size: 12px !important;
    width: 20px !important;
    height: 20px !important;
    overflow: hidden;
    font-weight: 700 !important;
    margin-right: 0px !important;
    font: normal normal 600 15px/15px Source Serif Pro  !important;
}



.bcreate {
    padding-bottom: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    padding: 5px !important;
    margin-left: 0px !important;
    padding-bottom: 0px !important;
}

.bbcreate {
    padding-bottom: 0px !important;
    padding: 0px !important;
}

.bbcreate button {
    padding-bottom: 0px !important;
    padding: 0px !important;
    font: normal normal 600 13px/17px Source Serif Pro !important;
    letter-spacing: 0px;
    opacity: 1 !important;
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    /* border: none; */
    box-shadow: none;
    text-transform: capitalize;
    margin-right: 12px;
    background: rgba(127, 218, 172, 0.4) no-repeat padding-box;
    color: #2a9660;
    width: 117px !important;
    height: 34px !important;
    margin-right: 0px !important;
}

.createBtnIn button:hover , .bbcreate button:hover{
    background: rgba(127, 218, 172, 0.4) no-repeat padding-box;
    color: #2a9660;
    box-shadow: none;
}